[Unit]
Description=Media Sync
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
Environment="_MS_CRON=true"
ExecStart=/home/gabe/.local/bin/media-sync-cron

[Install]
WantedBy=multi-user.target

