[Unit]
Description=XIdleHook

[Service]
ExecStart=/usr/bin/xidlehook \
	--not-when-fullscreen \
	--not-when-audio \
	--timer 300 'betterlockscreen -l dimblur' '' \
	--timer 900 'xset dpms force off' ''
Restart=on-failure

[Install]
WantedBy=default.target

