[submodule ".config/kitty/kitty-themes"]
	path = .config/kitty/kitty-themes
	url = git@github.com:dexpota/kitty-themes.git
[submodule ".config/ranger/plugins/devicons2"]
	path = .config/ranger/plugins/devicons2
	url = https://github.com/cdump/ranger-devicons2
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm
[submodule ".themes/Dracula"]
	path = .themes/Dracula
	url = git@github.com:dracula/gtk.git
[submodule ".config/qt5ct/colors/Dracula"]
	path = .config/qt5ct/colors/Dracula
	url = https://github.com/dracula/qt5.git
