#pattern  filter=crypt diff=crypt merge=crypt
"Dank*Mono*.otf"    filter=crypt    diff=crypt  merge=crypt
"eternity_4k.png"   filter=crypt    diff=crypt  merge=crypt
"rclone.conf"       filter=crypt    diff=crypt  merge=crypt
"secrets.sh"        filter=crypt    diff=crypt  merge=crypt

