configuration {
    modi: "drun,run";
    font: "DankMono Nerd Font 14";
    show-icons: true;
    icon-theme: "Papirus-Dark";
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    location: 0;
    matching: "fuzzy";
    disable-history: false;
    hide-scrollbar: true;
    steal-focus: true;
    window-format: "{c} - {t}";
}

@theme "dracula"

