/*******************************************************
 * ROFI configs i3 Apps menu for EndeavourOS
 * Maintainer: joekamprad <joekamprad@endeavouros.com>
 *******************************************************/

configuration {
	modes: [drun,run,window,ssh];
	location: 2;
  scroll-method:			0;
	normalize-match: true;
	markup: true;
	terminal: "kitty";
}

@theme "dracula"

