//fucking fix the ugly formatting somehow
//(can't pass -window-format " {c}" in swhkd cuz of cursedness with curly braces)

@import "config"

configuration {
    //kb-element-next: "Tab,Super+Tab";
    //kb-element-prev: "ISO_Left_Tab,Super+ISO_Left_Tab";
    window {
        format: " {c}";
    }
}

listview {
    columns: 1;
}

element-text {
    padding: 0px 0px 0px 9px;
}

inputbar {
    enabled: false;
}
