[Desktop Entry]
Actions=new-private-window;new-window;profile-manager-window
Categories=Network;WebBrowser
TryExec=firefox-developer-edition
Exec=firefox-developer-edition --name firefox-aurora -p gabe %U
GenericName=Web Browser
Icon=firefox-developer-edition
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;x-scheme-handler/http;x-scheme-handler/https
Name=Firefox Dev Edition
StartupNotify=true
StartupWMClass=firefox-aurora
Terminal=false
Type=Application
Version=1.4

[Desktop Action new-private-window]
Exec=firefox-developer-edition --private-window %U
Name=New Private Window

[Desktop Action new-window]
Exec=firefox-developer-edition --new-window %U
Name=New Window

[Desktop Action profile-manager-window]
Exec=firefox-developer-edition --ProfileManager
Name=Profile Manager
