[Desktop Entry]
Version=1.0
Type=Application
Name=kitty
GenericName=Terminal emulator
Comment=Fast, feature-rich, GPU based terminal
TryExec=kitty
Exec=kitty
Icon=kitty
Categories=System;TerminalEmulator;
Actions=new-zsh-window

[Desktop Action new-zsh-window]
Name=New ZSH Window
Exec=kitty -e zsh
