[Unit]
Description=Mount TV (rclone)
Wants=network-online.service
After=network-online.service
AssertPathIsDirectory=/home/gabe/media/mnt/tv

[Service]
Type=notify
KillMode=none
Environment=GOMAXPROCS=2

ExecStart=/usr/bin/rclone mount \
        tv:/ /home/gabe/media/mnt/tv \
        --allow-other \
        --config=/root/.config/rclone/rclone.conf \
        --use-mmap \
        --drive-skip-gdocs \
        --dir-cache-time 168h \
        --timeout 1h \
        --umask 002 \
        --poll-interval=1m \
        --vfs-cache-mode writes \
        --vfs-read-chunk-size 64M \
        --vfs-read-chunk-size-limit 2048M

ExecStop=/bin/fusermount -uz /home/gabe/media/mnt/tv
ExecStopPost=/bin/fusermount -uz /home/gabe/media/mnt/tv
Restart=on-failure

[Install]
WantedBy=default.target

